[class^="data-block-calculator-"] {
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    filter: brightness(1);

    &:hover {
        filter: brightness(0.95);
        transition: 100ms ease-in-out;
    }

    &:active {
        filter: brightness(0.8);
        transition: 50ms ease-in-out; /* stylelint-disable-line time-min-milliseconds */
    }
}

[class^="data-block-calculator-"].data-block-calculator-pseudo-active {
    filter: brightness(0.8);
    transition: 50ms ease-in-out; /* stylelint-disable-line time-min-milliseconds */
}

.data-block-calculator-number,
.data-block-calculator-operation,
.data-block-calculator-delete {
    color: black !important;  /* stylelint-disable-line declaration-no-important */
    box-shadow:
        rgba(0, 0, 0, 0.4) 0 2px 4px,
        rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0 -3px 0 inset !important;  /* stylelint-disable-line declaration-no-important */
}

.data-block-calculator-all-clear,
.data-block-calculator-equals {
    color: white !important;  /* stylelint-disable-line declaration-no-important */
    box-shadow:
        rgba(0, 0, 0, 0.4) 0 2px 4px,
        rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0 -3px 0 inset !important; /* stylelint-disable-line declaration-no-important */
}

.data-block-calculator-number > span {
    font-size: 0.75rem;
}

div[id^="data-block-calculator-"] {
    font-size: 1.2rem;
}

.data-block-calculator-output {
    min-height: 175px;
    max-height: 325px;
    overflow-y: auto;
    padding-top: 0.5rem;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 1.5;
    -webkit-box-shadow: inset 0 1px 10px 5px rgba(0, 0, 0, 0.42);
    box-shadow: inset 0 1px 10px 5px rgba(0, 0, 0, 0.42);
}

.fa-circle-xmark {
    font-size: 1.1rem;
}

.calculator-rounded-top {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.calculator-rounded-bottom-left {
    border-bottom-left-radius: 16px;
}

.calculator-rounded-bottom-right {
    border-bottom-right-radius: 16px;
}

.calculator-rounded {
    border-radius: 16px;
}

.calculator-bg-transparent {
    background-color: transparent;
}

.block-calculator-accordion-header > a {
    float: right;
    text-decoration: none;
    filter: brightness(100%);
    transition: all 150ms;
}

.block-calculator-accordion-header > a:hover {
    filter: brightness(4);
}

.block-calculator-w-100 {
    width: 100%;
}

div[id^="data-block-calculator-"],
#data-block-calculator,
#data-block-drag-header {
    max-width: 350px;
    width: 100%;
}

#data-block-calculator:focus {
    outline: 2px var(--primary) solid !important; /* stylelint-disable-line declaration-no-important */
}

#data-block-calculator.block-calculator-draggable > #data-block-drag-header {
    &:hover {
        outline: 2px solid black!important; /* stylelint-disable-line declaration-no-important */
        cursor: grab;
    }
}